.stars {
    color: #eee;
    display: flex;
    flex-flow: row;
    font-weight: lighter;
    cursor: pointer;
    & .full {
        /*color: #d21d30;*/
        color: #ffd942;
        -webkit-text-stroke: 1px rgba(255,0,0,.2);
    }
    & .empty {
        color: #ccc;
    }
}
