:root {
  --defaultColor: #eee;
  --fullColor: #ffd942;
  --emptyColor: #ccc;
}

.stars {
  color: var(--defaultColor);
  display: flex;
  flex-flow: row;
  font-weight: lighter;
  cursor: pointer;
  & .full {
    color: var(--fullColor);
    -webkit-text-stroke: 1px rgba(255,0,0,.2);
  }
  & .empty {
    color: var(--emptyColor);
  }
}
