@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100,400,700|Roboto:100,400,700";
@import "https://unpkg.com/normalize.css/normalize.css";

@import "styles/variables.css";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: var(--mainFont);
  background-color: var(--mainColor);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.application {
  height: 100%;
}
