@import "styles/variables.css";
@import "styles/buttons.css";

:root {
  --headerBackground: #fff;
  --footerBackground: #fff;
  --contentBackground: #fff;
  --bodyBackground: #fff;
  --headerBorder: 1px solid #ccc;
  --footerBorder: 1px solid #ccc;
}

.modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: var(--mainFont);
  & .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: var(--contentBackground);
    & .header {
      background: var(--headerBackground);
      border-bottom: var(--headerBorder);
      padding: 15px;
      min-height: 1px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & .title {
        text-transform: capitalize;
        margin: 0;
        font-weight: normal;
        font-size: 1em;
        line-height: 1em;
      }
      & .close {
        float: right;
      }
    }
    & .body {
      flex: 1;
      font-family: var(--mainFont);
      background: var(--bodyBackground);
      box-sizing: border-box;
      overflow-y: auto;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }/*
    & .footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      background: var(--footerBackground);
      border-top: var(--footerBorder);
      padding: 15px;
      text-align: right;
    } */
  }
}
