@import "styles/variables.css";
@import "styles/layout.css";

:root {
  --listBackground: #FFF;
  --itemBackground: #E0E0E0;
  --itemBackgroundOdd: #F5F5F5;
  --itemBackgroundEven: #E0E0E0;
}

body {
  & .related {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
    & .list {
      background-color: var(--listBackground);
      flex: 1 auto;
      flex-grow: 1;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: var(--mainFont);
      list-style: none;
      & .item {
        width: 100%;
        &:nth-child(odd) {
          background-color: var(--itemBackgroundOdd);
        }
        &:nth-child(even) {
          background-color: var(--itemBackgroundEven);
        }
        & .media {
          display: flex;
          flex-direction: row;
          margin: 10px;
          pointer-events: none;
        }
      }
    }
  }
}
