{
  "presets": [
    ["env", {
      "targets": "electron", "useBuiltIns": true
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  },
  "sourceMaps": true,
  "compact": false,
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-flow-strip-types"
  ]
}
