@import 'variables.css';

:root {
    --buttonColor: #666666;
    --buttonColor: #666666;
    --buttonHoverBackground: #2F2F2F;
    --buttonHoverColor: #C1C1C1;
    --buttonFont: 'Material Icons';
    --button {
        border-radius: 50%;
        min-width: 2em;
        min-height: 2em;
        margin: 10px;
        position: relative;
        border: none;
        background: transparent;
        transition: all .15s ease-in-out;
        cursor: pointer;
        z-index: 1;
        font-size: 1em;
    }
    --circle {
        content: "";
        width: 100%;
        height: 100%;
        background-color: transparent;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        border-radius: 50%;
    }
}

.round-button {
    @apply --button;
    color: var(--buttonColor);
    font-family: var(--buttonFont);
    &:after {
        @apply --circle;
    }
    &:hover {
        color: var(--buttonHoverColor);
        &:after {
            background-color: var(--buttonHoverBackground);
        }
    }
    &:focus{
        outline: none;
    }
}
