body {
    font-family: 'Open Sans', helvetica, sans-serif, arial !important;
    background-color: #fafafa;
    color: #afafaf;
    margin: 0px;
    padding: 0px;
}

html, body, #app, .page {
    height: 100%; /* needed for proper layout */
}

body {
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
}

.toolbar {
    flex: 0 0 auto;
}

.page-content {
    flex: 1 1 auto;
    /* need this to position inner content */
    /*position: relative;*/
    overflow-y: auto;
    height: 100%;
}

.player {
    flex: 0 0 auto;
}
