@import "styles/variables.css";
@import "styles/mixins.css";

@custom-selector :--body .body, .modal-body;

:local(:--body) {
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
