@import "styles/variables.css";

:root {
  --titleColor: #222;
  --metadataColor: #444;
  --descriptionColor: #8C8C8C;
  --subtitleColor: #8C8C8C;
}

:local(.metadata-line) {
  margin: 3px 0px;
  font-size: 80%;
  color: var(--metadataColor);
  font-weight: lighter;
  & > span:not(:last-of-type):after {
    content: '•';
    margin: 0 4px;
  }
}

.caption {
  flex: 1 auto;
  margin: 0 10px;
  font-family: var(--mainFont);
  & .title, & .headline {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: var(--titleColor);
  }
  & .subtitle, & .legend {
    color: var(--subtitleColor);
  }
  & .author, & .artist, & .creator {
    text-transform: capitalize;
  }
  & .description {
    color: var(--descriptionColor);
  }
}
