@import "styles/variables.css";
@import "styles/buttons.css";

:root {
  --background: #FFF;
  --border: 1px solid #CCC;
  --padding: 15px;
  --button-color: #000;
}

:local(.footer-button) {
  font-weight: lighter;
}

:local(.footer) {
  background: var(--background);
  border-top: var(--border);
  padding: var(--padding);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & > :not(:first-child) {
    margin-left: .25rem;
  }
}

:local(.modal-icon) {
  font-weight: normal;
  font-family: var(--iconFont);
  opacity: 0.65;
  margin-right: 0.5em;
  text-transform: none;
  font-style: initial;
}
