:root {
  --transitionDuration: 0.35s;
  --background: linear-gradient(to bottom, rgba(174,129,197,1) 0%, rgba(230,168,221,1) 100%);
  --height: 140px;
}

.coverflow {
    position: relative;
    display: block;
    transition-property: height;
    transition-timing-function: ease-in-out;
    transition-duration: var(--transitionDuration);
    background: var(--background);
    height: 0px;
    flex: 0 0 auto;
    overflow: hidden;
    &.active {
        height: var(--height);
        & .container, & .title {
            opacity: 1;
        }
    }
    & .container {
        height: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        position: relative;
        transition: opacity var(--transitionDuration) ease-in;
        opacity: 0;
        & ul.covers {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 2em;
            & li.cover:not(:first-child) {
                margin: 0 5px;
            }
            & li.cover:first-child {
                margin-right: 5px;
            }
            & li.cover:last-child {
                margin-right: 0px;
                margin-left: 5px;
            }
            & li.cover {
                margin: 0 5px;
            }
            & li.cover.active {
                & img {
                    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
                    border: 1px solid rgba(255, 255, 255, 0.65);
                }
            }
        }
        & img {
            object-fit: cover;
            width: 64px;
            height: 64px;
        }
    }
    & .title {
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
        color: #fff;
        display: block;
        left: 50%;
        bottom: 1em;
        padding: 4px 15px;
        transform: translateX(-50%);
        border-radius: 50px;
        font-size: .75em;
        text-overflow: ellipsis;
        max-width: 50%;
        overflow: hidden;
        white-space: nowrap;
        transition: opacity var(--transitionDuration) ease-in;
        opacity: 0;
    }
}
