@import "styles/variables.css";

:root {
  --iconColor: #FFF;
}

.thumbnail {
  position: relative;
  backface-visibility: hidden;
  overflow: hidden;
  box-sizing: border-box;
  & .icon {
    font-family: var(--iconFont);
    color: var(--iconColor);
    font-style: normal;
    display: inline-block;
    text-rendering: auto;
    vertical-align: middle;
  }
  & a.link {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  & img.image {
    border-radius: 2px;
    max-height: 64px;
    &.x16 {
      max-height: 16px;
    }
    &.x32 {
      max-height: 32px;
    }
    &.x48 {
      max-height: 48px;
    }
    &.x64 {
      max-height: 64px;
    }
  }
  & .overlay {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.1s linear;
    font-size: 1vw;
    & .overlay-pop {
      display: inline-flex;
      align-items: center;
    }
    & .duration {
      transform: translateX(150%);
    }
    & .stats {
      transform: translateY(-150%);
    }
    & .action {
      font-size: 2.5vw;
      opacity: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transition: opacity 0.1s linear;
      transform: translate(-50%, -50%);
      transform-style: preserve-3d;
    }
  }
  & .duration {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 4px;
  }
  & .stats {
    position: absolute;
    top: 0px;
    margin: 4px;
  }
  & .text, & .label {
    color: #fff;
  }
  &:hover {
    & .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      & .duration {
        animation: slide-in 0.25s forwards;
      }
      & .stats {
        animation: jump-in 0.25s forwards;
      }
      & .action {
        opacity: 0.85;
      }
    }
  }
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@keyframes jump-in {
  100% {
    transform: translateY(0%);
  }
}
