@import "styles/ToolBar.css";

.equalizer {
  position: relative;
  display: block;
  transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: var(--transitionDuration);
  background: var(--background);
  height: 0px;
  flex: 0 0 auto;
  overflow: hidden;
  &.active {
    height: var(--height);
  }
  & canvas.draw-surface {
    width: 100%;
    height: 100%;
  }
}
