@import "styles/variables.css";
@import "styles/layout.css";

/* :local(.application) {
  composes: application from "styles/layout.css";
}
:local(.frame) {
  composes: frame from "styles/layout.css";
}
:local(.content) {
  composes: content from "styles/layout.css";
} */
/* :local(.application) {
  composes: frame from "styles/layout.css";
  composes: toolbar from "styles/layout.css";
  composes: content from "styles/layout.css";
  height: 100%;
} */

/* :local(.frame) {
  composes: frame from "styles/layout.css";
}
:local(.content) {
  composes: content from "styles/layout.css";
} */

.list {
  flex: 1 1 auto;
  /* need this to position inner content */
  /*position: relative;*/
  overflow-y: auto;
  height: 100%;
}

audio, video {
  width: 100%;
}
